/** 
* @name Family-Fusion Galaxy
* @author Bibitor31#7704
* @version 1.0.1
* @description  Customizable colors | (--color-base:#xxxxxx;) (--color-text-cat:#xxxxxx;)
* @website https://bibitor31.github.io/Bibitor-Themes
* @source https://github.com/Bibitor31/Bibitor-Themes
**/
@import url("https://bibitor31.github.io/Bibitor-Themes/addons/galaxy.css");
:root {
--color-base:rgb(85, 85, 85);
--color-text-cat:rgb(119, 136, 153);
--bg-image:url("https://i.imgur.com/XZjvqF5.jpg");
--bg-image2:url("https://i.imgur.com/sYOO3N9.jpg");
}
