/**
* @name Family-Fusion-Gris
* @author Bibitor31
* @authorId 272097395343360001
* @version 1.7.0 
* @description  Customizable colors | (--color-base:#xxxxxx;) (--color-text-cat:#xxxxxx;)
* @website https://bibitor31.github.io/Bibitor-Themes/
* @source https://github.com/Bibitor31/Bibitor-Themes
**/
@import url("https://bibitor31.github.io/Bibitor-Themes/addons/core.css");
:root {
--color-base:rgb(85, 85, 85);
--color-text-cat:rgb(31, 147, 0);
--bg-image:url("https://i.imgur.com/GYj8bmI.jpg");
--bg-image2:url("https://i.imgur.com/fxDPar2.jpg") ;
--bg1:url("https://i.imgur.com/8bFP6Yz.jpg");
--bg2:url("https://i.imgur.com/1nnlZvu.jpg");
}
