/**
* @name Family-Fusion-Rouge
* @author Bibitor31#7704
* @version 1.6.4
* @description  Family | Un thème  avec des couleurs personnalisables | ---> (--color-base:#xxxxxx;)  
* @website https://Discord.gg/9Qjn3SR
* @source https://bibitor31.github.io/Bibitor-Themes/ 
**/
@import url("https://bibitor31.github.io/Bibitor-Themes/addons/core.css	");
:root {
--color-base:#620000;
--color-text-category:#1f9300;
--bg-image:url(https://i.imgur.com/UPMyZZq.jpg);
--bg-image2:url(https://i.imgur.com/b8EovZZ.jpg) ;
--bg1:url(https://i.imgur.com/8bFP6Yz.jpg);
--bg2:url(https://i.imgur.com/1nnlZvu.jpg);
--bg3: var(--color-base);
--bg4: rgba(64, 64, 64, 0.420);
--gradient1: rgb(64, 64, 64);
--gradient2: var(--color-base);
--bggradient-direction: 25deg ; 
/* ServerColumns By DevilBro*/
--columns: 1;
--guildsize: 45;
--guildgap: 3;
--aligndms: 1;
}
