/**
* @name Family-Fusion Saber
* @author Bibitor31
* @authorId 272097395343360001
* @version 1.7.0 
* @description  Customizable colors | (--color-base:#xxxxxx;) (--color-text-cat:#xxxxxx;)
* @website https://bibitor31.github.io/Bibitor-Themes/
* @source https://github.com/Bibitor31/Bibitor-Themes
**/
@import url("https://bibitor31.github.io/Bibitor-Themes/addons/core.css");
:root {
--color-base:rgb(188, 124, 0);
--color-text-cat:rgb(31, 147, 0);
--bg-image:url("https://i.imgur.com/yFRZRLj.jpg");
--bg-image2:url("https://i.imgur.com/nHmoO0k.jpg");
}
